Footer {
    @include fixCenter();
    font-size: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $footer-bg-color;
    color: $footer-text-color;
    text-align: center;
}
footer::selection{
    background-color:$footer-selection-color;
}