footer {
    font-size: 0.2rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $footer-bg-color;
    color: $footer-text-color;
    text-align: center;

}
footer::selection{
    background-color: $footer-selection-color;
}
@media only screen and (max-width: 1000px) {
    footer {
        display: none;
    }
}