main {
    left:0px;
    right:0px;
    padding-top: 0.3rem;
    padding-bottom: 1rem;
    background-color: $body-bg-color;
    background-image: $main-bg-img;
    background-repeat: repeat;
    border-radius: 5%;
    .articleLink {
        color: $body-link-color;
    }
}