nav{
    white-space:nowrap;
    @include fixWithoutJustify('center');
    transition: scale $nav-transition-time;
    transition-timing-function: cubic-beizer(.07,1.41,.82,1.41);
    &:hover{
        scale: 101%;
    }
    ul {
        padding-left: 0;
        li {
            display: inline-block;
            margin: 1.1rem;
            a {
                padding: 0.5rem;
                background-image: $nav-button-bg-img;
                background-size: $nav-bg-size;
                background-repeat: no-repeat;
                background-position: center;
                border-radius: $nav-border-radius;
                transition: background-size $nav-transition-time;
                transition-timing-function: cubic-beizer(.07,1.41,.82,1.41);
                &:hover{
                    background-size: $nav-bg-hover-size;
                }
                //display: block;
                //background-image: $nav-button-bg-img;
                //background-repeat: no-repeat;
                font-family: $theme-font;
                color: $nav-link-color;
                text-decoration: none;
            }
        }
    }
}