section {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    div {
        margin:1rem;
    }
    
    @media only screen and (max-width: 1200px){
        display: flex;
        @include fix('center');
   }
}

.rightSection {
    position: fixed;
    top: 30%;
    left: 80%;
    li {        
        text-decoration: none;
    }
    @media only screen and (max-width: 1200px) {
            display: none;
    }
    .tags {
        background-color: rgb(44, 44, 44);
        background-origin: content-box;;
        text-decoration: none;
        color:darkgrey;
        line-height: 2rem;
    }
}

.leftSection {
    padding-top: 2rem;
    color:white;
    @media only screen and (max-width: 1200px){
           display: none;
      }
}