$font-size: 125%;
$bg-color: #87B6D0;
$footer-bg-color: #F0F3FF;
$footer-text-color: black;
$theme-font: "Rhodium Libre", sans-serif;
$nav-link-color: black;
$body-link-color: black;
$body-bg-color: #F0F3FF;
$footer-selection-color: black;
$nav-button-bg-color: #F0F3FF; 