html{
    background-color: $bg-color;
    div { 
        @include fixCenter(); 
        font-size: $font-size;
        main {            
            max-width: 60rem;
            //border: 3px solid white;
            @include fixCenter();  
            a {
                display: inline;
                color: $body-link-color;
            }
        }
      }
}