@mixin fix($alignment){
    display: flex;
    flex-direction: column;
    justify-content: $alignment;
    align-items: center;
}
@mixin fixWithoutJustify($alignment){
    display: flex;
    flex-direction: column;
    align-items: center;
}